<div class="header-wrapper d-flex align-items-center justify-content-between">
    <div class="side-nav-icon">
        <!-- <img src="icons/left-align-svgrepo-com.svg" alt="side-nav-icon" class="side-nav-icon-img"> -->
        <span class="app-logo">FPTP</span>
    </div>
    <div class="user-profile-corner d-flex align-items-center">
        <div class="logo-image-user">
            <h4 class="user-image-text">UJ</h4>
        </div>
        <div class="user-info-email">
            <h4 class="user-name-view">Udhayarajan J</h4>
            <h4 class="user-name-view">udhayarajanj@outlook.com</h4>
        </div>
    </div>
</div>