<div class="header-wrapper d-flex align-items-center justify-content-between">
    <div class="side-nav-icon">
        <!-- <img src="icons/left-align-svgrepo-com.svg" alt="side-nav-icon" class="side-nav-icon-img"> -->
        <p-button label="FPTP" severity="warn" size="large" />
    </div>
    <div class="user-profile-corner d-flex align-items-center">
        <div class="logo-image-user" style="cursor: pointer;" (click)="openProfile()">
            <h4 class="user-image-text">{{this.userImageText}}</h4>
        </div>
        <div class="user-info-email">
            <h4 class="user-name-view">{{userName}}</h4>
            <h4 class="user-name-view">{{email}}</h4>
        </div>
        <div class="logout-user-wrapper">
            <img src="icons/logout-svgrepo-com.svg" (click)="logoutUser()" alt="side-nav-icon"
                class="side-action-icon-img">
        </div>
    </div>
</div>

<div class="card flex justify-center gap-2">
    <p-confirmdialog [draggable]="false" [style]="{ width: '20rem' }" />
</div>