<div class="menu-wrapper d-flex justify-content-center align-items-center">
    <div class="menu-box">
        <a class="menu-alignment" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <img src="icons/dashboard-layout-svgrepo-com.svg" alt="side-nav-dashboard-icon" class="side-nav-img">
            <span class="link-text">Home</span>
        </a>
        <a class="menu-alignment" routerLink="vehicle" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <img src="icons/car-svgrepo-com.svg" alt="side-nav-dashboard-icon" class="side-nav-img">
            <span class="link-text">Vehicles</span>
        </a>
        <a class="menu-alignment" routerLink="bill" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <img src="icons/invoice-bill-svgrepo-com.svg" alt="side-nav-dashboard-icon" class="side-nav-img">
            <span class="link-text">Bills</span>
        </a>
    </div>
</div>